.main {
	display: flex;
}

.container-fluid {
	width: 200px;
	flex-grow: 1;
    text-align: center;
}

.online-div {
	width: 150px;
}

.user {
	display: flex;
	justify-content: space-around;
	margin-bottom: 15px;
}

.online-user {
	display: flex;
	width: 65px;
	justify-content: space-around;
}

.dot {
	height: 25px;
	width: 25px;
	background-color: rgb(24, 200, 24);
	border-radius: 50%;
	display: inline-block;
}

.call-btn {
	border: 1px solid black;
	border-radius: 8px;
}